# IDE
.idea/
.vscode/
*.swp
*.swo

# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

# Build
build/
out/
dist/
*.egg-info/

# Binary files
*.exe
*.obj
*.o
*.so
*.dll

results/temp_*
*.tmp
*.log

!results/*.csv
!results/plots/
!results/plots/*.png

# CMake (???????? ???? ?????? C++)
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# ?????????
.DS_Store
Thumbs.db".vs/" 
"git" 
